.venv/
dist/
.ruff_cache
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
dist/
build/
*.egg-info/
*.log
data/*.json
!data/users.json
!data/portfolios.json
!data/rates.json
!data/exchange_rates.json
.valutatrade_cache/